body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#container {
    aspect-ratio: 1;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.grid {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
}

.bush {
    width: 100px;
    aspect-ratio: 1;
    z-index: 10;
    user-drag: none;
}

.mole {
    width: 100px;
    aspect-ratio: 1;
    position: absolute;
    user-drag: none;
    transform: scale(0.5);
    transition: transform 0.3s ease;
}

button {
    color: white;
    background-color: black;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    padding: 5px 20px;
    width: 100px;
    aspect-ratio: 2;
    font-size: 20px;
}

p {
    color: black;
    margin: 0px;
}

@media (max-width: 360px) {

    body {
        gap: 40px;
    }

    #container,
    .bush,
    .mole {
        width: 90%;
    }

    button {
        width: 90px;
        font-size: 18px;
    }
}
